EXPO_PUBLIC_SUPABASE_URL=https://sizyzcvhcdyawqidwngf.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNpenl6Y3ZoY2R5YXdxaWR3bmdmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMwNDExNDYsImV4cCI6MjA4ODYxNzE0Nn0.c00QpjRjwnXculw_d6KKXiYK5ejua04j5qzP58-E3CY
